# Application
APP_NAME=NestJS Rest Full Template
APP_DESCRIPTION=NestJS Rest Full Template
APP_VERSION=1.0.0
APP_PREFIX_ENABLED=false
APP_PREFIX=/api
APP_ENV=development
APP_SWAGGER_ENABLED=true
APP_SWAGGER_PATH=docs

# Database
DB_DRIVER=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=api_template_db
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/api_template_db?schema=public"

# Cryptography Configuration
ENCRYPTION_SECRET=1e6918cd90ad6886128ee77e5b67a1cfb333877da51107da9c3b6c30339db269
ENCRYPTION_SALT=895b60b0ad5e8f45ea35a96c3ace7819

# Throttler
THROTTLE_TTL=60000
THROTTLE_LIMIT=100

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=4200

